<div class="container-fluid">
  <footer>
    <div class="row">
      <a href="">
        <img [src]="image[0] " style="width:5rem; height: 60px" alt="">
      </a>
      <a href="">
        <img [src]="image[1] " style="width:5rem; height: 60px" alt="">
      </a>
      <a href="">
        <img [src]="image[2] " style="width:5rem; height: 60px" alt="">
      </a>
      <a href="">
        <img [src]="image[3] " style="width:5rem; height: 60px" alt="">
      </a>
      <a href="">
        <img [src]="image[4] " style="width:5rem; height: 60px" alt="">
      </a>
    </div>
  </footer>
</div>
