<div class="container-fluid">
  <div class="row">
    <div class="card" style="width: 29rem;">
      <img class="card-img-top" [src]="image" alt="Card image cap">
    </div>
    <div class="card" style="width: 29rem;">
      <img class="card-img-top" [src]="image2" alt="Card image cap">
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 29rem;">
      <img class="card-img-top" [src]="image3" alt="Card image cap">
    </div>
    <div class="card" style="width: 29rem;">
      <img class="card-img-top" [src]="image4" alt="Card image cap">
    </div>
  </div>
</div>