.container-fluid {
    background-color:#fff;
    margin: 0 auto;
}
.row[_ngcontent-c5] {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}
.card[_ngcontent-c5] {
    margin-left: 8rem !important;
    margin-top: 6rem !important;
    height: 19rem !important;
}