<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" >
        <div class="card" style="width: 29rem;">
            <img class="card-img-top" [src]="image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Santa Monica</h5>
                <p class="card-text">Ville côtière à l'ouest de Los Angeles en Californie,Favoris des Angelenos, Santa Monica attire les touristes, les surfeurs et les hommes d'affaires Santa Monica est comme une station balnéaire où vous pouvez profiter de l'une des plus belles plages de Los Angeles</p>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
              </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" >
        <div class="card" style="width: 29rem;">
            <img class="card-img-top" [src]="image2" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Malibu</h5>
                <p class="card-text">Malibu est une ville située à l'ouest de Los Angeles, en Californie,une cité balnéaire convoitée pour ses belles plages de sable blanc baignées de soleil toute l’année. Rien d’étonnant à ce que de nombreuses célébrités du monde du spectacle et du cinéma y aient élu domicile</p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
              </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" >
        <div class="card" style="width: 29rem;">
            <img class="card-img-top" [src]="image3" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Venice</h5>
                <p class="card-text">Venice est un quartier situé dans l'ouest de la ville de Los Angeles, dans l'État de Californie. Il est situé entre la ville de Santa Monica et le secteur non-incorporé de Marina Del Rey. Le quartier est connu pour ses canaux et ses plages et est surnommé la « Venise d'Amérique</p>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
              </div>
          </div>
    </div>
  </div>
</div>
