<section id="prem">
  <div class="entete" style="width: 5rem;">
    <img class="card-img-top" [src]="image5" alt="Card image cap">
  </div>
  <div class="description">
    <h2 class="titre">JAHL HARMONY</h2>
    <br>
    <h3 class="stitre">Qui sommes nous ?</h3>
    <p class="paragraphe"  >Comme toute nouvelle agence de location de notre siecle cherche à se structurer autour d'une nouvelle clientèle aux attentes toujours plus axée sur la compétitivité du rapport qualité prix mais aussi et surtout sur le partage direct qui se crée entre propriaitaires et locataires</p>
    <p class="paragraphe">En ce sens JAHL HARMONY se veut être un pont de rapprochement qui developpe de la demande en proposant des offres optionnelles destinées à ameliorer considérablement le séjour du futur locataires</p>
    <p class="paragraphe">JAHL HARMONY s'emploie activement à choisir minutieusement ses partenaires et collaborateurs dans un sousic d'équité et pour assurer de ce fait à ses nouveaux clients sécurité confort et plaisir</p>
  </div>
</section>
<section id="seconde">
    <div class="entete" style="width: 5rem;">
        <img class="card-img-top" [src]="image6" alt="Card image cap">
      </div>
      <div class="description">
          <h2 class="titre">JAHL HARMONY</h2>
          <br>
          <h3 class="stitre">Destinations inspirantes</h3>
          <p class="paragraphe">Nous sommes toujours à la recherche des meilleures destinations avec le meilleur choix de villas de luxe de qualité, nombreuses avec vues sur le golf, la mer, les plages. Ces villas ou appartement  situées dans des destinations de choix, telles que la Guadeloupe, la Martinique, Los angeles, New york, Paris, figurent parmi les meilleures destinations au monde.</p>
          <p class="paragraphe">Nos villas et appartement  se trouvent toutes à quelques minutes du centre ville et des transport en communs</p> 
        </div>
</section>
<section id="trois">
    <div class="entete" style="width: 5rem;">
        <img class="card-img-top" [src]="image7" alt="Card image cap">
      </div>
      <br>
      <div class="description">
          <h2 class="titre">JAHL HARMONY</h2>
          <br>
          <h3 class="stitre">Notre promesse de prix</h3>
          <p class="paragraphe">Vos vacances sont importantes pour nous. Nos conseillers, spécialistes et experts travaillent avec les équipes de gestion locales qui éliminent directement les intermédiaires et garantissent que vous ne trouverez pas nos villas à des prix plus bas sur le net.</p>
          <p class="paragraphe">Si vous êtes à la recherche d'une villa de luxe à Orlando ou d'une autre destination, vous ne trouverez pas une offre plus juste ailleurs.</p>
        </div>
</section>
<div class="clearfix"></div>
