<div class="container">
  <h1 class="titre">Nous Contacter</h1>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1" class="stitre">Adresse Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nom@exemple.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1"  class="stitre">Selectioner destination</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Paris</option>
      <option>Guadeloupe</option>
      <option>Martinique</option>
      <option>Los Angeles</option>
     
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2"  class="stitre" >Nombre de Personne</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"  class="stitre" >Ce que vous souhaitez</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
<button class="btn-lg btn-primary">Envoyer</button>
</div>
