<div class="container fluid">
  <h1 class="titre">Nos locations</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <div>
        <a href="/assets/appartement/appart.jpg"><img class="card-img-top" [src]="image[0]"  alt="Card image cap"></a>
      </div>
        
       
        <div class="card-body">
          <h5 class="card-title">{{ titre[0] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[4]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Appartement Thais(94) </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <a href="/assets/appartement/appart.jpg" target="-blank"> <img [src]="image[0]" id="large" alt=""></a>
                 <br>
                 <img  class="img-thumbnail" [src]="image[0]" width="140" height="140" alt="">
                 <img  class="img-thumbnail" [src]="image[1]" width="140" height="140" alt="">
                 <img  class="img-thumbnail" [src]="image[2]" width="140" height="140" alt="">
                 <img  class="img-thumbnail" [src]="image[0]" width="140" height="140" alt="">
                 <img  class="img-thumbnail" [src]="image[1]" width="140" height="140" alt="">
                 <img  class="img-thumbnail" [src]="image[2]" width="140" height="140" alt="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image[1]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[0] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[2]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image[2]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[0] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[3]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image3[0]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[1] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[4]" alt="">
          <p class="card-text">aaaaa</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image3[1]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[1] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[4]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image3[2]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[1] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[4]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image2[0]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[2] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[4]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image2[1]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[2] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[4]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card loc" style="width: 18rem;">
        <img class="card-img-top" [src]="image2[2]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ titre[2] }}</h5>
          <img class="icon" style="width: 6rem;" [src]="iconne[4]" alt="">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            En savoir +
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Réservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

