<div class="container">
  <h2 class="presentation">Conciergerie</h2>
  <p class="para">JAHL HARMONY vous propose afin de profitez pleinement de votre séjours plusieurs services, nous prenons en compte tous vos soucis</p>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[0]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Votre Laverie</h5>
          <p class="card-text"> nous vous proposons de laver votre linges durant votre séjour</p>
          <a href="#" class="btn btn-primary">Consultez</a>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[1]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizzaria</h5>
          <p class="card-text">Nous vous proposons les pizzaria de votre secteur</p>
          <a href="#" class="btn btn-primary">Consultez</a>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[2] " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les bars</h5>
          <p class="card-text">Les bars les plus branchés de votre location</p>
          <a href="#" class="btn btn-primary">Consultez</a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[3]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vos Restaurants</h5>
          <p class="card-text">Nous avons selectionnés les meilleurs restaurants gastronomie</p>
          <a href="#" class="btn btn-primary">Consultez</a>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[4]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Location de voiture</h5>
          <p class="card-text">Nous pouvons s'occuper, pour vous de la location de voiture de votre choix</p>
          <a href="#" class="btn btn-primary">Consultez</a>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[5] " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les taxis</h5>
          <p class="card-text">Nous nous occupons de la reservation de votre taxis</p>
          <a href="#" class="btn btn-primary">Consultez</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
