<div class="container">
  <h2 class="presentation">Conciergerie</h2>
  <p class="para">JAHL HARMONY vous propose afin de profitez pleinement de votre séjours plusieurs services, nous prenons en compte tous vos soucis</p>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[0]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Votre Laverie</h5>
          <p class="card-text"> nous vous proposons de laver votre linges durant votre séjour</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[1]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizzaria</h5>
          <p class="card-text">Nous vous proposons les pizzaria de votre secteur</p>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[2] " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les bars</h5>
          <p class="card-text">Les bars les plus branchés de votre location</p>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[3]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vos Restaurants</h5>
          <p class="card-text">Nous avons selectionnés les meilleurs restaurants gastronomie</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[4]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Location de voiture</h5>
          <p class="card-text">Nous pouvons s'occuper, pour vous de la location de voiture de votre choix</p>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" >
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="image[5] " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Les taxis</h5>
          <p class="card-text">Nous nous occupons de la reservation de votre taxis</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
      
    </div>
  </div>
</div>
