<div class="container-fluid">
  <div class="row">
  <div class="col-lg-4">
    <div class="card one" style="width: 35rem;">
      <img class="card-img-top" [src]="image[0]" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Le Trocadéro</h5>
        <p class="card-text">S'il y a bien un jardin à visiter lorsque vous passez par la tour Eiffel, ce sont bien les Jardins du Trocadéro ! Créées lors de l'exposition spécialisée de 1937, ces 93 930m² d'espaces verts offrent une vue imprenable sur la tour Eiffel dominant la capitale </p>
       <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>

  </div>  
  <div class="col-lg-4">
    <div class="card one" style="width: 35rem;">
      <img class="card-img-top" [src]="image[1]" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Disneyland</h5>
        <p class="card-text">est un complexe touristique et urbain de 22,30 km2 situé dans la commune de Chessy (77), à trente-deux kilomètres à l'est de Paris. Le complexe touristique comprend deux parcs à thèmes – le parc Disneyland et le parc Walt Disney Studios – ainsi que 7 hôtels et un golf, </p>
       <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>  
  <div class="col-lg-4">
    <div class="card one" style="width: 35rem;">
      <img class="card-img-top" [src]="image[2] " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">L'opéra de paris</h5>
        <p class="card-text">L'opéra de Paris est une institution publique française. L'Opéra produit, des œuvres lyriques, chantées par des artistes lyriques et des ballets, dansés par les membres de la compagnie de ballet, et accompagnés par les musiciens de l'orchestre symphonique de l'Opéra</p>
       <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>  
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card deux" style="width: 41rem;">
        <img class="card-img-top" [src]="image[3] " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Walk of Fame</h5>
          <p class="card-text">Le Walk of Fame est un trottoir très célèbre du quartier d'Hollywood à Los Angeles, situé sur Hollywood Boulevard.</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card deux" style="width: 41rem;">
        <img class="card-img-top" [src]="image[4]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Universal Studios Hollywood</h5>
          <p class="card-text">Vaste parc d'attractions sur le thème du cinéma, avec manèges, restaurants, boutiques et spectacles. </p>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card trois" style="width: 25rem;">
        <img class="card-img-top" [src]="image[5]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Le cimetiere de Morne à l'eau</h5>
          <p class="card-text">Morne-à-l'Eau est connu en Guadeloupe pour sa fête du crabe (à Pâques), mais c'est son cimetière qui lui assure une réputation internationale.</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card trois" style="width: 25rem;">
        <img class="card-img-top" [src]="image[6]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Distillerie Damoiseau</h5>
          <p class="card-text">La Distillerie Damoiseau est implantée sur la commune du Moule en Guadeloupe. Elle produit le rhum agricole Damoiseau.</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card trois" style="width: 25rem;">
        <img class="card-img-top" [src]="image[7]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mémorial cap 110</h5>
          <p class="card-text">Situé sur la commune du Diamant à La Martinique, le mémorial est un hommage à tous les esclaves qui ont subi la traite des noirs</p>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card trois" style="width: 25rem;">
        <img class="card-img-top" [src]="image[8]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Saint-Barthélemy</h5>
          <p class="card-text">Saint-Barthélemy est une île française des petites Antilles et une collectivité d'outre-mer, rataché à la Guadeloupe</p>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  En savoir +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Reservation</button>
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
