<div class="container-fluid">
  <div class="row">
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="image[0]" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>  
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="image[1]" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>  
  <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="image[2] " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>  
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card deux" style="width: 18rem;">
        <img class="card-img-top" [src]="image[3] " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Universal Studios Hollywood</h5>
          <p class="card-text">Vaste parc d'attractions sur le thème du cinéma, avec manèges, restaurants, boutiques et spectacles.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card deux" style="width: 18rem;">
        <img class="card-img-top" [src]="image[4]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Walk of Fame</h5>
          <p class="card-text">Le Walk of Fame est un trottoir très célèbre du quartier d'Hollywood à Los Angeles, situé sur Hollywood Boulevard entre Gower Street et la Brea Avenue, ainsi que sur Vine Street entre Yucca Street et Sunset Boulevard. </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card trois" style="width: 18rem;">
        <img class="card-img-top" [src]="image[5]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card trois" style="width: 18rem;">
        <img class="card-img-top" [src]="image[6]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card trois" style="width: 18rem;">
        <img class="card-img-top" [src]="image[7]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card trois" style="width: 18rem;">
        <img class="card-img-top" [src]="image[8]" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
